<template>
    <div class="Movies_Wrapper">
        <div class="col-md-3 col-xs-12" id="filtros">
            <PeliculaFiltro />
        </div>
        <div class="col-md-9 col-xs-12" id="peliculas">
            <div v-if="peliculas.length > 0"  style="background-color: white">
                <div v-for="(item, index) in peliculas" :key="index" class="movie">
                    <PeliculaItem :pelicula="item" :reserva="true" :key="index" v-on:empezarReserva="reservar( $event )" />
                </div>
            </div>
            <div v-else >
                <div class="alert alert-danger" style="color:black;">
                    <h4 v-html="$t( 'movie.empty' )"> </h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import peliculaTypes  from '@/types/pelicula';
    import {mapGetters, mapActions} from 'vuex';
    import PeliculaItem   from '@/components/Pelicula/PeliculaItem.vue'
    import PeliculaFiltro   from '@/components/Pelicula/PeliculaFiltro.vue'
    
    export default {
        name: 'peliculas',
        components: {PeliculaItem, PeliculaFiltro},
        mounted() {
            const cinemaId = this.$route.params.id;
            this.fetchPeliculas( cinemaId );
        },
        methods: {
            ...mapActions( {
                fetchPeliculas: peliculaTypes.actions.fetchPeliculas
            } ),
            reservar( peliculaId ){ 
                this.$router.push( {name: 'reserva', params: {peliculaId}} );
            }
        },
        computed: {
            ...mapGetters( {
                peliculas:      peliculaTypes.getters.peliculas
            } )
        }
    }

</script>

<style scoped>
    .Movies_Wrapper{
        background-color: white;
    }
</style>
