<template>
    <div class="MovieShowingTimes_Wrapper">
        <label> {{ $t( 'movie_showing_times.name' ) }} </label>
        <div v-if="presentacion_horarios.length > 0">
            <span @click="$emit( 'seleccionHorario', presentacion_horarios.horario )" class="badge badge-danger" v-for="(item, index) in presentacion_horarios">
                {{ presentacion_horarios[index].horario }}
            </span>
        </div>
        <div v-else>
            <span class="badge">
                {{ $t( 'movie_showing_times.empty' ) }}
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'pelicula-presentacion-horario',
        props: {
            presentacion_horarios: {
                type: Array
            }
        }
    }
</script>

<style scoped>
    .badge-danger{
        background-color: #b94a48;
    }
    .badge-danger:hover{
        background-color: #953b39;
    }
    label{
        color: #fff;
    }
</style>

