<template>
    <div class="PeliculaGeneros_Wrapper">
        <label > {{ $t( 'genre.name' ) }} </label>
        <div v-if="generos">
            <span class="badge badge-info" v-for="item in generos">
                {{ item.nombre }}
            </span>
        </div>
        <div v-else class="">
            <span class="badge badge-error" > {{ $t( 'genre.empty' ) }} </span>
        </div>
    </div>    
</template>

<script>
    export default {
        name: 'pelicula-generos',
        props: {
            generos: Array
        }
    }
</script>

<style scoped>
    .badge-info{
        background-color: #3a87ad;
    }
    .badge-info:hover{
        background-color: #2d6987;
    }
    .badge-error{
        background-color: #b94a48;
    }
    .badge-error:hover{
        background-color: #953b39;
    }
    label{
        color: #fff;
    }
</style>
