<template>
    <div class="MovieFilter_Wrapper">
        <div class="well">
            <h2 class="text-center" v-html="$t( 'filter.movie' )"></h2>
            <label class="control-label" v-html="$t( 'filter.search' )"></label>
            <input v-model="buscar" class="form-control" :placeholder="$t( 'filter.search' )">
            <hr>
            <label class="control-label" v-html="$t( 'filter.rows' )"></label>
            <select v-model="fila" class="form-control">
                <option v-for="item in [1,2,3,4,5,6,7,8,9,10,11,12]" :value="item">
                    {{ item }}
                </option>
            </select>
            <hr>
             <label class="control-label" v-html="$t( 'filter.seats' )"></label>
            <select v-model="asiento" class="form-control">
                <option v-for="item in [10,20,30,40,50,60,70,80,90,100]" :value="item">
                    {{ item }}
                </option>
            </select>
            <hr>
            <label class="control-label" v-html="$t( 'filter.genres' )"></label>
            <select v-model="genero" class="form-control">
                <option v-for="(item, index) in generos.data" :value="item.id">
                    {{ item.nombre }}
                </option>
            </select>
            <hr>
            <label class="control-label" v-html="$t( 'filter.hours' )"></label>
            <select v-model="hora" class="form-control">
                <option v-for="item in horas" :value="item.value">
                    {{ item.text }}
                </option>
            </select>
            <hr>
            <button class="btn btn-block btn-warning" @click="limpiarFiltro"> {{ $t( 'filter.clear' ) }} </button>
        </div>
    </div>
</template>

<script>
    import peliculaTypes  from '@/types/pelicula';
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    
    export default {
        name: 'pelicula-filtro',
        mounted() {
            this.fetchGeneros();
        },
        methods: {
            ...mapActions( {
                fetchGeneros: peliculaTypes.actions.fetchGeneros
            } ),
            ...mapMutations( {
                setBusqueda: peliculaTypes.mutations.setBusqueda,
                setFilas: peliculaTypes.mutations.setFilas,
                setAsientos: peliculaTypes.mutations.setAsientos,
                setGenero: peliculaTypes.mutations.setGenero,
                setHora: peliculaTypes.mutations.setHora,
                limpiarFiltro: peliculaTypes.mutations.limpiarFiltro,
            } )
        },
        computed: {
            horas() {
                let horas = [];
                for (let i = 0; i < 24; i++) {
                    let hora = i < 10 ? '0' + i : i;
                    hora = hora < 12 ? hora + ':00 am' : hora + ':00 pm'
                    horas.push( {value: i, text: hora } );
                }
                return horas;
            },
            ...mapGetters( {
                busqueda:     peliculaTypes.getters.buscar,
                filas:      peliculaTypes.getters.filas,
                asientos:   peliculaTypes.getters.asientos,
                hora_seleccionada:      peliculaTypes.getters.hora,
                generos:    peliculaTypes.getters.generos,
                genero_seleccionado:     peliculaTypes.getters.genero,
            } ),
            hora: {
                get()       { this.hora_seleccionada; },
                set(value)  { this.setHora( value ); }
            },
            buscar: {
                get()       { return this.busqueda; },
                set(value)  { this.setBusqueda( value ); }
            },
            fila: {
                get()       { return this.filas; },
                set(value)  { this.setFilas( value ); }
            },
            asiento: {
                get()       { return this.asientos; },
                set(value)  { this.setAsientos( value ); }
            },
            genero: {
                get()       { return this.genero_seleccionado; },
                set(value)  { this.setGenero( value ); }
            },
        }
    }

</script>

<style scoped>
    .MovieFilter_Wrapper h2{
        margin-top: 0 !important;
    }
</style>
