<template>
    <div class="col-md-12 col-xs-12 PeliculaItem_Wrapper">
        <div class="col-md-5 col-xs-12">
            <img :src="pelicula.pelicula.screenshot" class="img-responsive"/>
            <div class="clearfix"></div>
            <br>
            <button class="btn btn-warning btn-block" v-if="getReserva && reserva" @click="$emit( 'empezarReserva', pelicula.pelicula.id )">
                {{ $t( 'movie.reservation' ) }}
            </button>
        </div>
        <div class="col-md-7 col-xs-12">
            <h2>
                {{ $t( 'movie.name' ) }}: {{ pelicula.pelicula.nombre }}
            </h2>
            <h3>
                {{ $t( 'movie.director' ) }}: {{ pelicula.pelicula.director }}
            </h3>
            <p>
                {{ $t( 'movie.synopsis' ) }}: {{ pelicula.pelicula.sinopsis }}
            </p>
            <p>
                {{ $t( 'movie.room_number' ) }}: {{ pelicula.sala.numero }}
            </p>
            <p>
                {{ $t( 'movie.room_rows' ) }}: {{ pelicula.sala.filas }}
            </p>
            <p>
                {{ $t( 'movie.room_seats' ) }}: {{ pelicula.sala.asientos }}
            </p>
            
            <div class="col-md-6">
                <PeliculaGeneros :generos="pelicula.pelicula.generos" />
            </div>
            <div class="col-md-6">
                <PeliculaPresentacionHorario v-on:seleccionHorario="$emit( 'seleccionHorario', $event )" :presentacion_horarios="pelicula.presentacion_pelicula_horarios" />
            </div>
        </div>
    </div>
</template>

<script>
    import PeliculaGeneros              from '@/components/Pelicula/PeliculaGeneros';
    import PeliculaPresentacionHorario  from '@/components/Pelicula/PeliculaPresentacionHorario';
    export default {
        components: { PeliculaGeneros, PeliculaPresentacionHorario },
        name:             'pelicula-item',
        props:  {
            pelicula: {
                type:     Object,
                required: true
            },
            reserva: {
                type:     Boolean,
                required: true
            }
        },
        computed: {
            getReserva() {
                return this.pelicula.presentacion_pelicula_horarios.length > 0;
            }
        }
    }
</script>

<style>
    .PeliculaItem_Wrapper {
        /* background: white !important; */
        padding: 10px;
    }
    .PeliculaItem_Wrapper h2 {
        margin-top: 0;
    }
</style>
