<template>
    <div>
        <div class="col-md-3 col-xs-12" id="filtros">
            <CinemaFiltro></CinemaFiltro>
        </div>
        <div class="col-md-9 col-xs-12" id="cinemas">
            <div class="col-md-12 col-xs-12">
                <h2 v-if="cinemas.data.length > 0"> {{$t( 'cinema.find_registers' )}} {{cinemas.total}}</h2>
            </div>
            <div v-if="cinemas.data.length > 0">
                <div v-for="(item, index) in cinemas.data">
                    <CinemaItem :cinema="item" :key="index" />
                    <div class="clearfix"></div>
                    <hr>
                </div>
            </div>
            <div v-else >
                <div class="alert alert-danger" style="color:black;">
                    <h4 v-html="$t( 'cinema.empty' )"> </h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import cinemaTypes  from '@/types/cinema';
    import {mapGetters} from 'vuex';
    import CinemaItem   from '@/components/Cinema/CinemaItem.vue'
    import CinemaFiltro from '@/components/Cinema/CinemaFiltro.vue'

    export default {
        components: {CinemaItem, CinemaFiltro},
        name:       'cinemas',
        mounted() {
            this.$store.dispatch( cinemaTypes.actions.fetchCinemas );
        },
        computed: {
            ...mapGetters( {
                cinemas: cinemaTypes.getters.cinemas
            } )
        }
    }

</script>