<template>
    <div class="col-md-12 col-xs-12 CinemaItem_Wrapper">
        <div class="col-md-5 col-xs-12">
            <img :src="cinema.screenshot" alt="Err" class="img-responsive">
        </div>
        <div class="col-md-7 col-xs-12">
            <h2>
                <router-link :to="{ name: 'cinema', params: { id: cinema.id } }">
                    {{ $t( 'cinema.name' ) }}: {{ cinema.nombre }}
                </router-link> 
            </h2>
            <h3>
                {{ $t( 'cinema.address' ) }}: {{ cinema.direccion }}
            </h3>
            <p>
                {{ $t( 'cinema.details' ) }}: {{ cinema.detalles }}
            </p>
            <p>
                {{ $t( 'cinema.telephone' ) }}: {{ cinema.telefono }}
            </p>
            <p>
                {{ $t( 'cinema.seats' ) }}: {{ cinema.asientos }}
            </p>
            <p>
                {{ $t( 'cinema.rooms' ) }}: {{ cinema.__meta__.salas_count }}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name:             'cinema-item',
        props:  {
            cinema: {
                type:     Object,
                required: true
            }
        }
    }
</script>

<style>
    .CinemaItem_Wrapper {
        background: #181D23 !important;
        padding: 10px;
    }
    .CinemaItem_Wrapper h2 {
        margin-top: 0;
    }
</style>
