<template>
    <div class="Filter_Wrapper">
        <div class="well">
            <h2 class="text-center" v-html="$t( 'filter.cinema' )" ></h2>
            <label class="control-label" v-html="$t( 'filter.search' )"></label>
            <input type="text" v-model="buscar" class="form-control" :placeholder="$t( 'filter.search' )">
            <hr>
            <label class="control-label" v-html="$t( 'filter.rooms' )"></label>
            <select class="form-control" v-model="salas">
                <option v-for="item in [1,2,3,4,5]" :value="item"> {{ item }} </option>
            </select>
            <hr>
            <label class="control-label" v-html="$t( 'filter.seats' )"></label>
            <select class="form-control" v-model="asientos">
                <option v-for="item in [100,200,300,400,500,600]" :value="item"> {{ item }} </option>
            </select>
            <hr>
            <button class="btn btn-block btn-warning" @click="limpiarFiltro">
                {{ $t( 'filter.clear' ) }}
            </button>
        </div>
    </div>    
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex';
    import cinemaTypes from '@/types/cinema';
    export default {
        name: 'cinema-filtro',
        methods: {
            ...mapMutations ( {
                setBusqueda:    cinemaTypes.mutations.setBusqueda,
                setSalas:       cinemaTypes.mutations.setSalas,
                setAsientos:    cinemaTypes.mutations.setAsientos,
                limpiarFiltro:  cinemaTypes.mutations.limpiarFiltro
            } )
        },
        computed: {
            ...mapGetters ( {
                query:              cinemaTypes.getters.buscar,
                numero_salas:       cinemaTypes.getters.salas,
                numero_asientos:    cinemaTypes.getters.asientos,
            } ),
            buscar: {
                get() {
                    return this.query;
                },
                set(value) {
                    this.setBusqueda( value );
                }
            },
            salas: {
                get() {
                    return this.numero_salas;
                },
                set(value) {
                    this.setSalas( value );
                }
            },
            asientos: {
                get() {
                    return this.numero_asientos;
                },
                set(value) {
                    this.setAsientos( value );
                }
            }
        }
    }
</script>

<style>
    .Filter_Wrapper{
        margin-top: 0 !important;
    }
</style>
