<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapse" data-toggle='collapse' data-target='#nav-collapse' aria-expanded="false">
                    <span class="sr-only"> Toggle Navigation </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"> 3 Flores </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <router-link to="/"> {{ $t('navigation.cinema') }} </router-link> </li>
                    <li> <router-link v-if="isLogged" to="/perfil"> {{ $t('navigation.my_account') }} </router-link> </li>
                    <li> <router-link v-if="isLogged" to="/reservas"> {{ $t('navigation.bookings') }} </router-link> </li>
                    <SelectorLenguaje />
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> <router-link v-if="!isLogged" to="/login"> {{ $t('navigation.login') }} </router-link> </li>
                    <li> <router-link v-if="!isLogged" to="/registro"> {{ $t('navigation.register') }} </router-link> </li>
                    <li> <a href="#" @click.prevent="logout()" v-if="isLogged"> {{ $t('navigation.logout') }} </a> </li>
                </ul>
            </div>
        </div>
    </nav>    
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import authTypes from '@/types/auth';
    import SelectorLenguaje from '@/components/SelectorLenguaje';
    export default {
        name: 'navigation',
        components: {SelectorLenguaje},
        methods: {
            ...mapActions( {
                _logout: authTypes.actions.logout
            } ),
            logout() {
                this._logout();
                this.$router.push( { path: '/login' } );
            },
        },
        computed: {
            ...mapGetters( {
                isLogged: authTypes.getters.logged
            } )
        }
    }
</script>

<style scoped>

</style>
