<template>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ $t( 'navigation.language' ) }} ({{ lenguajeActual }}) <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li v-for="item in lenguajes">
                <a href="#" @click.prevent="actualizarLenguaje( item.value )"> {{ item.label }} </a>
            </li>
        </ul>
    </li>
</template>

<script>
    import globalTypes  from '@/types/global';
    import {mapActions} from 'vuex';
    export default {
        name: 'selector-lenguaje',
        data() {
            return {
                lenguaje_seleccionado: 'es',
                lenguajes: [ 
                    { value: 'es', label: 'Español' },
                    { value: 'en', label: 'Inglés' }
                ]
            }
        },
        methods: {
            ...mapActions( {
                setLenguaje: globalTypes.actions.cambiarLenguaje
            } ),
            actualizarLenguaje( lenguaje ) {
                this.lenguaje_seleccionado = lenguaje;
                this.setLenguaje( this.lenguaje_seleccionado );
                this.$i18n.locale = this.lenguaje_seleccionado;
            }
        },
        computed: {
            lenguajeActual() {
                let config = '';
                this.lenguajes.forEach(item => {
                   if( item.value === this.lenguaje_seleccionado )
                       config = item.label
                });
                return config; 
                // return this.lenguajes.filter( (lenguaje) => {
                //     return lenguaje.value === this.lenguaje_seleccionado[0].label;
                // } );
            }
        }
    }
</script>