<template>
    <div id="app">
        <Navigation></Navigation>
        
        <div v-if="procesando">
            <BlockUI :message=" $t('messages.processing') "></BlockUI>
        </div>

        <router-view></router-view>
        
    </div>
</template>

<script>
    import globalTypes from '@/types/global';
    import {mapGetters} from 'vuex';
    import Navigation from '@/components/Navigation.vue';
    // import Login from '@/components/Auth/Login.vue';
    // import Registro from '@/components/Auth/Registro.vue';
    export default {
        components: {
            Navigation,
            // Login,
            // Registro
        },
        name: 'app',
        data () {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        },
        computed: {
            ...mapGetters( {
                procesando: globalTypes.getters.procesando
            } )
        }
    }
</script>

<style>
    body {
        background-color: #36383A !important;
        /* background-color: #ccc !important; */
    }
    .well {
        background-color: #fff !important;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #2c3e50;
    }
    h1, h3, p {
        color: #fff !important;
    }
    a {
        color: #992266 !important;
    }
    h2{
        color: #fff !important;
    }
    th, td{
        color: #E33A2D !important;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    td {
        background-color: #fff;
    }
    hr {
        border: 1px solid white !important;
        width: 100%;
    }
    .page-link.active  {
        background-color: #D24839 !important;
        color: #fff !important;
        border: 1px solid #fff !important;
    }
</style>
