<template>
    <div class="login col-md-6 col-md-offset-3">
        <h1 class="text-center text-muted" v-html="$t( 'login.title' )"> </h1>
        <div class="alert alert-danger" v-if="error" v-html="$t( 'login.error' )"></div>
        <hr>
        <div class="well">
            <form autocomplete="off" @submit.prevent='validarFormulario'>
                <div class="form-group">
                    <label for="email" class="control-label col-md-4" v-html="$t( 'login.email' )"></label>
                    <div class="col-md-8" :class="{'has-error': errors.has('email')}">
                        <!-- <input v-validate="'required|email'" type="text" name="email" id="email" autocomplete="off" v-model="email" class="form-control" :placeholder="$t( 'login.email' )" :class="{'has-error': errors.has('email')}"> -->
                        <input v-validate="'required'" type="text" name="email" id="email" autocomplete="off" v-model="email" class="form-control" :placeholder="$t( 'login.email' )" :class="{'has-error': errors.has('email')}">
                        <span v-show="errors.has( 'email' )" class="text-danger">
                            {{ errors.first( 'email' ) }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-md-4" v-html="$t( 'login.password' )"></label>
                    <div class="col-md-8" :class="{'has-error': errors.has('password')}">
                        <input v-validate="'required|min:4'" type="text" name="password" id="password" autocomplete="off" v-model="password" class="form-control" :placeholder="$t( 'login.password' )" :class="{'has-error': errors.has('password')}">
                        <span v-show="errors.has( 'password' )" class="text-danger">
                            {{ errors.first( 'password' ) }}
                        </span>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-success btn-block" v-html="$t( 'login.title' )" ></button>
            </form>
        </div>
    </div>
</template>

<script>
    import authTypes    from '@/types/auth';
    import {mapActions} from 'vuex';
    export default {
        name: 'login',
        data() {
            return {
                email:     'lalo',
                password:  '1234',
                error:     null
            }
        },
        methods: {
            ...mapActions( {
                login: authTypes.actions.login
            } ),
            validarFormulario() {
                this.$validator.validateAll()
                    .then( (result) => {
                        if( result ) {
                            this.login( {
                                email:      this.email,
                                password:   this.password
                            } ).then(
                                user => {
                                    this.$router.push('/');
                                }, error => {
                                    this.error = true;
                                })
                        }
                    } )
                    .catch( (error) => {
                        console.log( error );
                        this.error = true;
                    } )
            }
        }
    }
</script>
    
<style scoped>

</style>
