<template>
    <div class="login col-md-6 col-md-offset-3">
        <h1 class="text-center text-muted" v-html="$t( 'register.title' )"> </h1>
        <div class="alert alert-danger" v-if="error" v-html="$t( 'register.error' )"></div>
        <hr>
        <div class="well">
            <form autocomplete="off" @submit.prevent='validarFormulario'>
                <div class="form-group">
                    <label for="username" class="control-label col-md-4" v-html="$t( 'register.username' )"></label>
                    <div class="col-md-8" :class="{'has-error': errors.has('username')}">
                        <input v-validate="'required'" type="text" name="username" id="username" autocomplete="off" v-model="username" class="form-control" :placeholder="$t( 'register.username' )" :class="{'has-error': errors.has('username')}">
                        <span v-show="errors.has( 'username' )" class="text-danger">
                            {{ errors.first( 'username' ) }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-md-4" v-html="$t( 'register.email' )"></label>
                    <div class="col-md-8" :class="{'has-error': errors.has('email')}">
                        <input v-validate="'required'" type="text" name="email" id="email" autocomplete="off" v-model="email" class="form-control" :placeholder="$t( 'register.email' )" :class="{'has-error': errors.has('email')}">
                        <span v-show="errors.has( 'email' )" class="text-danger">
                            {{ errors.first( 'email' ) }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-md-4" v-html="$t( 'register.password' )"></label>
                    <div class="col-md-8" :class="{'has-error': errors.has('password')}">
                        <input v-validate="'required|min:4'" ref="password" type="text" name="password" id="password" autocomplete="off" v-model="password" class="form-control" :placeholder="$t( 'register.password' )" :class="{'has-error': errors.has('password')}">
                        <span v-show="errors.has( 'password' )" class="text-danger">
                            {{ errors.first( 'password' ) }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_confirmation" class="control-label col-md-4" v-html="$t( 'register.password_confirmation' )"></label>
                    <div class="col-md-8" :class="{'has-error': errors.has('password_confirmation')}">
                        <input v-validate="'required|confirmed:password'" type="text" name="password_confirmation" id="password_confirmation" autocomplete="off" v-model="password_confirmation" class="form-control" :placeholder="$t( 'register.password_confirmation' )" :class="{'has-error': errors.has('password_confirmation')}">
                        <span v-show="errors.has( 'password_confirmation' )" class="text-danger">
                            {{ errors.first( 'password_confirmation' ) }}
                        </span>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-success btn-block" v-html="$t( 'register.title' )" ></button>
            </form>
        </div>
    </div>
</template>

<script>
    import authTypes    from '@/types/auth';
    import {mapActions} from 'vuex';
    export default {
        name: 'registro',
        data() {
            return {
                username:   '',
                email:      '',
                password:   '',
                password_confirmation:  '',
                error:     null
            }
        },
        methods: {
            ...mapActions( {
                registro: authTypes.actions.registro
            } ),
            validarFormulario() {
                this.$validator.validateAll()
                    .then( (result) => {
                        if( result ) {
                            this.registro( {
                                email:      this.email,
                                password:   this.password,
                                username:   this.username,
                            } )
                                .then( (result) => {
                                    this.$router.push( '/login' );
                                }, (err) => {
                                    this.error = true;
                                } );
                        }
                    } )
                    .catch( (error) => {
                        console.log( error );
                        this.error = true;
                    } )
            }
        }
    }
</script>